body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background: black;
    color: white;
    overflow: hidden;

}

.centraliza {
    width: 100vw;
    height: 100vh;            
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.interna {
    width: 600px;
    height: auto;            
}
/* Typed CSS3 */
#typed {    
    display: inline-block;
}

.typed1 {
    text-align: left;    
    padding: 5px 0px 5px 15px;
    line-height: 50px;
    display: inline-block;
    overflow: hidden;    
    animation: typing 1s steps(30, end);                         
    white-space: nowrap;
    /* background-image: linear-gradient(to right, rgba(68, 97, 114, .5), rgba(0, 0, 0, .5));         */
    box-sizing: border-box;
}

.typed2 {
    text-align: left;    
    padding: 5px 0px 5px 15px;
    line-height: 50px;
    display: inline-block;
    overflow: hidden;    
    animation: typing 1s steps(30, end) reverse;                                  
    white-space: nowrap;
    /* background-image: linear-gradient(to right, rgba(68, 97, 114, .5), rgba(0, 0, 0, .5)); */
    box-sizing: border-box;
}

@keyframes typing {
    0% { 
        width: 0%;
        
    }
    
    100% { 
        width: 100%;
        
    }
}

.cursor-blink:after {                    
    position: relative;
    top: -23px;
    content : "";            
    border-right: 12px solid #fff;
    animation: blink .75s step-end infinite;
}

@keyframes blink {
    0% { 
        width: 0%;
        border-color: #fff; 
    }
    
    50% {
        width: 50%; 
        border-color: transparent; 
        
    }
    
    0%, 100% { 
        width: 100%;
        border-color: #fff; 
    }
}

.forte, .verde {
    color: #4caf50 !important;
    font-weight: 700
}

.forte2, .amarelo {
    color: #cddc39 !important;
    font-weight: 700
}

.forte3, .azul {
    color: #03A9F4 !important;
    font-weight: 700
}